<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/platform/avatar.css">
</head>
<body>
<input type="hidden" id="user_id" th:value="${user_id}">
<input type="hidden" id="avatar" th:value="${avatar}">
<div class="htmleaf-container">
    <div class="container">
        <div class="imageBox">
            <div class="thumbBox"></div>
            <div class="spinner" style="display: none">Loading...</div>
        </div>
        <div class="action">
            <div class="new-contentarea tc">
                <a href="javascript:void(0)" class="upload-img">
                    <label for="upload-file">上传图像</label>
                </a>
                <input type="file" class="" name="upload-file" id="upload-file" />
            </div>
            <input type="button" id="blobSubmit" class="Btnsty_peyton" value="提交" >
            <input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切">
        </div>
        <div class="cropped"></div>
    </div>
</div>

<script src="/layui/layui.all.js"></script>
<script src="/js/index/jquery-1.11.1.min.js"></script>
<script src="/js/platform/cropbox.js"></script>

<script th:inline="none">
    $(window).load(function() {
        var options =
            {
                thumbBox: '.thumbBox',
                spinner: '.spinner',
                imgSrc: $("#avatar").val()
            }
        var cropper = $('.imageBox').cropbox(options);
        $('#upload-file').on('change', function(){
            var reader = new FileReader();
            reader.onload = function(e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        })
        $('#btnCrop').on('click', function(){
            var img = cropper.getDataURL();
            $('.cropped').html('');
            $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');
            $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>');
            $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');
        })
        $('#btnZoomIn').on('click', function(){
            cropper.zoomIn();
        })
        $('#btnZoomOut').on('click', function(){
            cropper.zoomOut();
        })
        $('#blobSubmit').on('click', function(){
            var img = cropper.getBlob();
            var formdata = new FormData();
            var id = $("#user_id").val();
            formdata.append("imagefile", img);
            formdata.append("id",id);
            $.ajax({
                url:"/user/avatar",
                data: formdata,
                type:"post",
                contentType: false,
                processData: false,
                contentType: false,
                dataType:"JSON",
                success: function(data) {
                    if(data.success){
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                        window.parent.location.reload(true);
                    }else{
                        layer.msg(data.info, function(){
                        });
                    }
                }
            })
        })

    });

</script>

</body>
</html>