<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<input type="hidden" id="user_id" th:value="${id}">
<div class="layui-tab layui-tab-card" style="margin: 10px">
    <ul class="layui-tab-title">
        <li class="layui-this">好友</li>
        <li>群组</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table class="layui-hide" id="friends" lay-filter="friends"></table>
        </div>
        <div class="layui-tab-item">
            <table class="layui-hide" id="groups" lay-filter="groups"></table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <button class="layui-btn layui-btn-sm" lay-event="batchAddGroup">
        <i class="layui-icon layui-icon-add-circle"></i>
        邀请进群
    </button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDelete">
        <i class="layui-icon layui-icon-delete"></i>
        批量删除
    </button>
    <div class="layui-form" style="margin-top: 10px">
        <div class="layui-input-inline " style="width: 200px;">
            <select id="groupId" name="groupId" lay-search="">
                <option value="">请选择分组</option>

            </select>
        </div>
        <div id="moveto" class="layui-input-inline " style="width: 200px;margin-left: 16px;margin-top: 10px;display: none">
            <select id="groupId2" name="groupId" lay-search="">
                <option value="">请选择分组</option>

            </select>
        </div>
        <div id="addGroup" class="layui-input-inline " style="width: 200px;margin-left: 16px;margin-top: 10px;display: none">
            <select id="groupId3" lay-search="">
                <option value="">请选择群</option>

            </select>
        </div>
        <div class="layui-input-inline " style="width: 200px;">
            <input id="username" type="text" placeholder="好友名称" class="layui-input">
        </div>
        <button class="layui-btn layui-btn-sm" lay-event="friendsQuery">搜索</button>
    </div>
</script>
<script type="text/html" id="toolbarDemo2">
    <button class="layui-btn layui-btn-sm" lay-event="addGroup">
        <i class="layui-icon layui-icon-add-1"></i>
        添加分组
    </button>
    <button class="layui-btn layui-btn-sm" lay-event="addGroup2">
        <i class="layui-icon layui-icon-add-1"></i>
        添加群
    </button>
    <div class="layui-form" style="margin-top: 10px">
        <div class="layui-input-inline " style="width: 200px;">
            <select id="groupType">
                <option value="">请选择类型</option>
                <option value="0">好友分组</option>
                <option value="1">好友群</option>
            </select>
        </div>
        <div class="layui-input-inline " style="width: 200px;">
            <input id="groupname" type="text" placeholder="群组名称" class="layui-input">
        </div>
        <button class="layui-btn layui-btn-sm" lay-event="groupsQuery">搜索</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="move">移动至</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="barDemo2">
    {{# if(d.type==0){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  }else{ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="quit">退出</a>
    {{#  }}}
</script>
<script src="/layui/layui.all.js"></script>

<script th:inline="none">
    var $=layui.jquery;
    layui.use(['table','form'], function(){
        var table = layui.table;
        var form = layui.form;
        form.render();
        table.render({
            elem: '#friends'
            ,url:'/im/friendsList'
            ,method:'post'
            ,where:{
                queryParams:{
                    id:$("#user_id").val(),
                }
            }
            ,request: {
                pageName: 'page'
                ,limitName: 'rows'
            }
            ,toolbar: '#toolbarDemo'
            ,title: '好友'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID',hide:true }
                ,{field:'groupname', title:'组名'}
                ,{field:'username', title:'好友名称'}
                ,{field:'username', title:'好友头像',templet:function(d){
                        return "<img src='"+d.uavatar+"' style='width:25px;border-radius: 25px'>";
                    } }
                ,{field:'sign', title:'好友签名'}
                ,{title:'操作', toolbar: '#barDemo',width:130}
            ]]
            ,page: true
            ,loading:true
            ,defaultToolbar: ['print', 'exports']
            ,done: function(res, curr, count){
                var data = res.groupList;
                var data2 = res.groupList2;
                data.forEach(function (item,index) {
                    $("#groupId").append("<option value='"+item.id+"'>"+item.groupname+"</option>");
                    $("#groupId2").append("<option value='"+item.id+"'>"+item.groupname+"</option>");
                })
                data2.forEach(function (item,index) {
                    $("#groupId3").append("<option value='"+item.id+"'>"+item.groupname+"</option>");
                })
                form.render();
            }
        });
        table.render({
            elem: '#groups'
            ,url:'/im/groupsList'
            ,method:'post'
            ,where:{
                queryParams:{
                    id:$("#user_id").val(),
                }
            }
            ,request: {
                pageName: 'page'
                ,limitName: 'rows'
            }
            ,toolbar: '#toolbarDemo2'
            ,title: '群组'
            ,cols: [[
                ,{field:'id', title:'ID',hide:true }
                ,{field:'type', title:'类型',sort:true,templet:function(d){
                        return d.type==0?'好友分组':'好友群';
                    } }
                ,{field:'groupname', title:'群组名称'}
                ,{field:'avatar', title:'群头像',templet:function(d){
                        return "<img src='"+d.avatar+"' style='width:25px;border-radius: 25px'>";
                    } }
                ,{title:'操作', toolbar: '#barDemo2', width:70}
            ]]
            ,page: true
            ,loading:true
            ,defaultToolbar: ['print', 'exports']
        });

        //头工具栏事件
        table.on('toolbar(friends)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;
            switch(obj.event){
                case 'batchAddGroup':
                    if (data.length==0){
                        layer.msg('请先选择要邀请的好友！', {icon: 2});
                        return;
                    }
                    layer.open({
                        type: 1,
                        title:"邀请好友至",
                        shade:false,
                        area:['230px','70%'],
                        content: $('#addGroup'),
                        btn: ['确定'],
                        yes: function(index, layero){
                            var groupId  = $("#groupId3").val();
                            if (groupId != ''){
                                var user_group_arr = [];
                                var user_name_arr = [];
                                var id_name = {};
                                data.forEach(function (item,index2) {
                                    user_group_arr.push(item.uid);
                                    id_name[item.uid] = item.username;
                                })
                                $.ajax({
                                    type:"POST",
                                    data:{
                                        id:groupId,
                                        ids:user_group_arr.join(","),
                                    },
                                    dataType:"JSON",
                                    url:'/im/addMember',
                                    success:function (data) {
                                        if (data.success){
                                            layer.close(index);
                                            table.reload('friends',{
                                            });
                                            layer.msg('操作成功', {icon: 1});

                                           if (data.list.length>0){
                                               data.list.forEach(function (item,index2) {
                                                   user_name_arr.push(id_name[item]);
                                               })
                                               window.parent.addGroup(groupId,user_name_arr.join(","));
                                           }
                                        } else{
                                            layer.alert(data.msg);
                                        }

                                    }
                                });
                            }else{
                                layer.close(index);
                            }
                        }
                    });
                    break;
                case 'batchDelete':
                    if (data.length==0){
                        layer.msg('请先选择要删除的好友！', {icon: 2});
                        return;
                    }
                    layer.confirm('确定删除这些好友吗', function(index){
                        var user_group_arr = [];
                        layer.close(index);
                        data.forEach(function (item,index2) {
                            user_group_arr.push("("+item.uid+","+item.id+")");
                        })
                        $.ajax({
                            async:false,
                            type:"POST",
                            data:{
                                user_group_arr:user_group_arr.join(","),
                            },
                            dataType:"JSON",
                            url:'/im/batchDelete',
                            success:function (data) {
                                if (data.success){
                                    table.reload('friends',{
                                    });
                                } else{
                                    layer.alert(data.msg)
                                }
                            }
                        });
                    })

                    break;
                case 'friendsQuery':
                    table.reload('friends',{
                        where: {
                            queryParams:{
                                groupId:$("#groupId").val(),
                                username:$("#username").val()
                            }
                        }
                        ,page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                    break;
            };
        });
        //头工具栏事件
        table.on('toolbar(groups)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;
            switch(obj.event){
                case 'addGroup':
                    layer.prompt({title: '输入组名称', formType: 0}, function(pass, index){
                        layer.close(index);
                        $.ajax({
                            async:false,
                            type:"POST",
                            data:{
                                u_id:$("#user_id").val(),
                                type:0,
                                groupname:pass
                            },
                            dataType:"JSON",
                            url:'/im/addGroup',
                            success:function (data) {
                                if (data.success){
                                    table.reload('groups',{
                                    });
                                    table.reload('friends',{
                                    });
                                } else{
                                    layer.alert(data.msg)
                                }
                            }
                        });
                    });
                    break;
                case 'addGroup2':
                    layer.prompt({title: '输入群名称', formType: 0}, function(pass, index){
                        layer.close(index);
                        $.ajax({
                            async:false,
                            type:"POST",
                            data:{
                                u_id:$("#user_id").val(),
                                type:1,
                                groupname:pass
                            },
                            dataType:"JSON",
                            url:'/im/addGroup',
                            success:function (data) {
                                if (data.success){
                                    table.reload('groups',{
                                    });
                                } else{
                                    layer.alert(data.msg)
                                }
                            }
                        });
                    });
                    break;
                case 'groupsQuery':
                    table.reload('groups',{
                        where: {
                            queryParams:{
                                type:$("#groupType").val(),
                                groupname:$("#groupname").val(),
                            }
                        }
                        ,page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(friends)', function(obj){
            var data = obj.data;
            if(obj.event === 'move'){
                layer.open({
                    type: 1,
                    title:"移动好友至",
                    shade:false,
                    area:['230px','70%'],
                    content: $('#moveto'),
                    btn: ['确定'],
                    yes: function(index, layero){
                        var groupId  = $("#groupId2").val();
                        if (groupId != '' && groupId!=data.id){
                            $.ajax({
                                type:"POST",
                                data:{
                                    uid:data.uid,
                                    oldid:data.id,
                                    newid:groupId,
                                },
                                dataType:"JSON",
                                url:'/im/moveFriend',
                                success:function (data) {
                                    if (data.success){
                                        layer.close(index);
                                        table.reload('friends',{
                                        });
                                    } else{
                                        layer.alert(data.msg);
                                    }

                                }
                            });
                        }else{
                            layer.close(index);
                        }
                    }
                });
            }else if(obj.event === 'del'){
                layer.confirm('确定删除好友吗', function(index){
                    layer.close(index);
                    deleteFriend(data.uid,data.id);
                    table.reload('friends',{
                    });
                });
            }
        });
        //监听行工具事件
        table.on('tool(groups)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定删除分组(分组下所有好友将被删除))吗', function(index){
                    layer.close(index);
                    $.ajax({
                        async:false,
                        type:"POST",
                        data:{
                            group_id:data.id
                        },
                        dataType:"JSON",
                        url:'/im/deleteGroup',
                        success:function (data) {
                            if (data.success){
                                table.reload('groups',{
                                });
                                table.reload('friends',{
                                });
                            } else{
                                layer.alert(data.msg)
                            }
                        }
                    });
                });
            }else if(obj.event === 'quit'){
                layer.confirm('确定退出吗', function(index){
                    layer.close(index);
                    deleteFriend($("#user_id").val(),data.id);
                    table.reload('groups',{
                    });
                });
            }
        });


    });
    //删除分组
    function deleteFriend(user_id,group_id) {
        $.ajax({
            async:false,
            type:"POST",
            data:{
                user_id:user_id,
                group_id:group_id
            },
            dataType:"JSON",
            url:'/im/deleteFriend',
            success:function (data) {
                if (data.success){
                } else{
                    layer.alert(data.msg)
                }
            }
        });
    }

</script>

</body>
</html>