<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎</title>
    <th:block th:replace="/common::css2">
    </th:block>
    <style>
        p{
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }
        body {
            background-color: #F2F3F4;
        }
    </style>
</head>
<body>
<input type="hidden" id="user_id" th:value="${id}">
<!--菜单-->
<div class="content-menu">
    <ul>
        <li onclick="addMsg()">发布</li>
        <li onclick="userStars()">收藏</li>
        <li onclick="location.reload(true);">主页</li>
        <li th:onclick="|toDetail(${id})|">个人</li>
    </ul>
</div>
<!--内容-->
<div id="container" style="top: 20px;left: 50px;right: -50px"></div>

<!-- the overlay element -->
<script id="role" type="text/html">
    {{each list as value}}
     <ul class="item list-group">
        <li class="list-group-item" id="view{{value.id}}">
            {{each value.img as index i}}
            {{if i==0}}
            <img class="cd-trigger" onclick="viewPhoto('{{value.id}}')" src="{{index}}" layer-src="{{index}}"/>
            {{else}}
            <img src="{{index}}" layer-src="{{index}}" style="display: none"/>
            {{/if}}
            {{/each}}
        </li>
        <li class="list-group-item">
            <button id="like{{value.id}}" onclick="msg_like('{{value.id}}')" type="button" class="btn btn-default btn-xs" title="{{value.ylike}}"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            <button id="unlike{{value.id}}" onclick="msg_unlike('{{value.id}}')" type="button" class="btn btn-default btn-xs" title="{{value.unlike}}"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            <span style="margin-left: 35px">1/{{value.img.length}}</span>
            <button id="star{{value.id}}" onclick="msg_star('{{value.id}}',this)" type="button" class="btn btn-default btn-xs pull-right" title="{{value.star}}">
            {{if value.starId != null}}
            <span class="glyphicon glyphicon-star"></span></button>
            {{else}}
            <span class="glyphicon glyphicon-star-empty"></span>
            {{/if}}
            </button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <img onclick="toDetail('{{value.u_id}}')" class="media-object img-rounded cd-trigger" style="width: 30px; height: 30px;" src="{{value.user.headshow}}" />
                </div>
                <div class="media-body">
                    <input type="hidden" id="id" value="{{value}}"/>
                    <h5 class="media-heading">{{value.user.username}}</h5>
                    {{if value.content.length<100}}
                    <p id="msg_p" style="font-size: small">
                        {{#value.content}}
                    </p>
                    {{else}}
                    <p style="font-size: small">
                        {{#value.content}}
                    </p>
                    <br>
                    <a id="msg_a" onclick="moreContent('{{value.id}}')" href="javascript:void(0)" class="msg_a">更多...</a>
                    {{/if}}
                </div>
            </div>
        </li>
    </ul>
    {{/each}}
</script>
<th:block th:replace="/common::js2"></th:block>
<script>
    $('#container').waterfall({
        itemCls: 'item',
        fitWidth:false,
        colWidth: 222,
        gutterWidth: 15,
        gutterHeight: 15,
        maxCol:5,
        checkImagesLoaded: false,
        resizable:true,
        isAnimated:true,
        dataType: 'json',
        path: function(page) {
            return '/platform/getData?page='+page;
        },
        params:{
            queryParams:{
                user_id:$("#user_id").val()
            }
        },
        callbacks: {
            loadingStart: function($loading) {
                $loading.show();
                //console.log('loading', 'start');
            },
            loadingFinished: function($loading, isBeyondMaxPage) {
                if ( !isBeyondMaxPage ) {
                    $loading.fadeOut();
                    //console.log('loading finished');
                } else {
                    //console.log('loading isBeyondMaxPage');
                    $loading.remove();
                }
            },
            loadingError: function($message, xhr) {
                $message.html('加载失败,请稍后重试');
            },
            /*
            * 处理ajax返回数方法
            * @param {String} data
            */
            renderData: function (data) {
                if (data.success) {
                    var htmlData = {
                        list:data.rows
                    };
                    var html = template('role', htmlData);
                    return html;
                }else{
                    $('#container').waterfall('pause', function() {
                        $('#waterfall-message').html("<br><br><br><p style='color:#666;'>"+data.info+"</p>")
                        //alert('no more data');
                    });
                }

            }
        },
    });

</script>
</body>
</html>