<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.dao.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.task.pojo.Comment">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="m_id" property="mId" />
        <result column="srcUid" property="srcUid" />
        <result column="descUid" property="descUid" />
        <result column="content" property="content" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, m_id, srcUid, descUid, content, createTime
    </sql>

    <insert id="addObject" parameterType="com.task.pojo.Comment" useGeneratedKeys="true"  keyProperty="id">
        insert into dyn_msg_comment
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="pid != null" >pid,</if>
            <if test="mId != null" >m_id,</if>
            <if test="srcUid != null" >srcUid,</if>
            <if test="descUid != null" >descUid,</if>
            <if test="content != null" >content,</if>
            <if test="createTime != null" >createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id,jdbcType=INTEGER},</if>
            <if test="pid != null" >#{pid,jdbcType=INTEGER},</if>
            <if test="mId != null" >#{mId,jdbcType=INTEGER},</if>
            <if test="srcUid != null" >#{srcUid,jdbcType=INTEGER},</if>
            <if test="descUid != null" >#{descUid,jdbcType=INTEGER},</if>
            <if test="content != null" >#{content,jdbcType=STRING},</if>
            <if test="createTime != null" >#{createTime,jdbcType=STRING},</if>
        </trim>
    </insert>

    <delete id="deleteObjectById" parameterType="map">
        DELETE FROM dyn_msg_comment WHERE id in(${ids})
    </delete>

    <update id="updateObject" parameterType="com.task.pojo.Comment">
        update dyn_msg_comment
        <set>
            <if test="pid != null" >pid=#{pid},</if>
            <if test="mId != null" >m_id=#{mId},</if>
            <if test="srcUid != null" >srcUid=#{srcUid},</if>
            <if test="descUid != null" >descUid=#{descUid},</if>
            <if test="content != null" >content=#{content},</if>
            <if test="createTime != null" >createTime=#{createTime},</if>
        </set>
        where ID = ${id}
    </update>

    <select id="getObjectById" resultMap="BaseResultMap">
        select * from dyn_msg_comment where id = #{id}
    </select>

    <select id="findByObjectPageList" resultMap="BaseResultMap">
        select * from dyn_msg_comment
        <where>
            <if test="id != null and id != ''" > AND id=#{id}</if>
            <if test="pid != null and pid != ''" > AND pid=#{pid}</if>
            <if test="mId != null and mId != ''" > AND m_id=#{mId}</if>
            <if test="srcUid != null and srcUid != ''" > AND srcUid=#{srcUid}</if>
            <if test="descUid != null and descUid != ''" > AND descUid=#{descUid}</if>
            <if test="content != null and content != ''" > AND content=#{content}</if>
            <if test="createTime != null and createTime != ''" > AND createTime=#{createTime}</if>
        </where>
    </select>

    <select id="getObjectList" resultMap="BaseResultMap">
        select * from dyn_msg_comment
        <where>
            <if test="id != null and id != ''" > AND id=#{id}</if>
            <if test="pid != null and pid != ''" > AND pid=#{pid}</if>
            <if test="mId != null and mId != ''" > AND m_id=#{mId}</if>
            <if test="srcUid != null and srcUid != ''" > AND srcUid=#{srcUid}</if>
            <if test="descUid != null and descUid != ''" > AND descUid=#{descUid}</if>
            <if test="content != null and content != ''" > AND content=#{content}</if>
            <if test="createTime != null and createTime != ''" > AND createTime=#{createTime}</if>
        </where>
    </select>
</mapper>
