<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.dao.StarMapper">

    <select id="getObjectById" resultType="com.task.pojo.Star">
    	SELECT * FROM u_m_star WHERE id=#{id}
	</select>

    <insert id="addObject" parameterType="com.task.pojo.Star" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO u_m_star
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="u_id != null and u_id != ''">u_id,</if>
            <if test="m_id != null and m_id != ''">m_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="u_id != null and u_id != ''">#{u_id,jdbcType=INTEGER},</if>
            <if test="m_id != null and m_id != ''">#{m_id,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <insert id="batchAddObject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Sample(name,age,sex) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.name},#{item.age},#{item.sex})
        </foreach>
    </insert>

    <select id="getObjectList" resultType="com.task.pojo.Star">
        SELECT * FROM Sample
        <where>
            <if test="name != null and name != ''">AND name=#{name,jdbcType=VARCHAR}</if>
            <if test="sex != null and sex != ''">AND sex=#{sex,jdbcType=VARCHAR}</if>
            <if test="age != null and age != ''">AND age=#{age,jdbcType=INTEGER}</if>
        </where>
    </select>

    <select id="findByObjectPageList" resultType="com.task.pojo.Star">
        SELECT * FROM Sample
        <where>
            <if test="name != null and name != ''">AND name=#{name,jdbcType=VARCHAR}</if>
            <if test="sex != null and sex != ''">AND sex=#{sex,jdbcType=VARCHAR}</if>
            <if test="age != null and age != ''">AND age=#{age,jdbcType=INTEGER}</if>
        </where>
    </select>

    <delete id="deleteObjectById" parameterType="com.task.pojo.Star">
      DELETE FROM u_m_star where u_id=#{u_id} and m_id= #{m_id}
    </delete>

    <update id="updateObject" parameterType="com.task.pojo.Star">
        UPDATE Sample
        <set>
            <if test="name != null and name != ''">NAME=#{name,jdbcType=VARCHAR},</if>
            <if test="sex != null and sex != ''">SEX=#{sex,jdbcType=VARCHAR},</if>
            <if test="age != null and age != ''">AGE=#{age,jdbcType=INTEGER},</if>
        </set>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="batchDeleteObject">
        DELETE FROM sample where id in(
        <foreach collection="list" index="index" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>

</mapper>