<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.dao.UserGroupMapper">
    
    
    <resultMap id="group_members" type="com.task.pojo.UserGroup">
        <id column="id" property="id"/>
        <result column="groupname" property="groupname"/>
        <result column="avatar" property="avatar"/>
        <result column="u_id" property="u_id"/>

        <collection property="list"  ofType="com.task.pojo.User">
            <id column="uid" property="id"/>
            <result column="username" property="username"/>
            <result column="uavatar" property="avatar"/>
            <result column="sign" property="sign"/>
        </collection>
    </resultMap>

    <select id="getFriendsById" resultMap="group_members">
    	SELECT g.*,u.id uid,u.username,u.avatar uavatar,u.sign FROM u_group g
        LEFT JOIN g_members m
        ON m.group_id = g.id
        LEFT JOIN USER u
        ON m.user_id=u.id
        WHERE g.u_id = #{id} AND g.type = 0
	</select>
    <select id="getGroupById" resultType="com.task.pojo.UserGroup">
    	SELECT g.* FROM u_group g
        INNER JOIN g_members m
        ON m.group_id = g.id
        WHERE m.`user_id` = #{id} AND g.type =1
	</select>

    <select id="findFriendsPageList" resultType="map">
        SELECT g.*,u.id uid,u.username,u.avatar uavatar,u.sign FROM u_group g
        INNER JOIN g_members m
        ON m.group_id = g.id
        INNER JOIN USER u
        ON m.user_id=u.id
        WHERE g.u_id = #{id} AND g.type = 0
        <if test="groupId != null and groupId != ''">AND g.id=#{groupId,jdbcType=INTEGER}</if>
        <if test="username != null and username != ''">AND u.username like "%"#{username,jdbcType=VARCHAR}"%"</if>
    </select>

    <select id="findGroupsPageList" resultType="map">
        SELECT g.* FROM u_group g
        WHERE g.`u_id` = #{id} AND g.`type` =0
        <if test="type != null and type != ''">AND g.type =#{type,jdbcType=INTEGER}</if>
        <if test="groupname != null and groupname != ''">AND g.groupname like "%"#{groupname,jdbcType=VARCHAR}"%"</if>
        UNION
        SELECT g.* FROM `u_group` g
        INNER JOIN `g_members`  m
        ON g.`id` = m.group_id
        WHERE m.user_id = #{id} AND g.`type` =1
        <if test="type != null and type != ''">AND g.type =#{type,jdbcType=INTEGER}</if>
        <if test="groupname != null and groupname != ''">AND g.groupname like "%"#{groupname,jdbcType=VARCHAR}"%"</if>
    </select>
    <select id="getGroups" resultType="map">
        SELECT * FROM u_group g
        WHERE g.`u_id`=#{id} AND g.type =0
    </select>
    <delete id="deleteGroup" parameterType="map">
        DELETE FROM u_group where id = #{group_id}
    </delete>
    <delete id="deleteFriend" parameterType="map">
        DELETE FROM g_members where user_id = #{user_id} and group_id = #{group_id}
    </delete>
    <delete id="batchDelete" parameterType="map">
        DELETE FROM g_members where (user_id,group_id) in (${user_group_arr})
    </delete>
    <update id="moveFriend" parameterType="map">
        UPDATE g_members
            set group_id=#{newid}
        WHERE user_id = #{uid} AND group_id = #{oldid}
    </update>
    <insert id="addGroup" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO u_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="u_id != null and u_id != ''">u_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="groupname != null and groupname != ''">groupname,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="u_id != null and u_id != ''">#{u_id,jdbcType=INTEGER},</if>
            <if test="type != null and type != ''">#{type,jdbcType=INTEGER},</if>
            <if test="groupname != null and groupname != ''">#{groupname,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <insert id="addMember" parameterType="map">
        INSERT IGNORE INTO g_members
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="u_id != null and u_id != ''">user_id,</if>
            <if test="id != null and id != ''">group_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="u_id != null and u_id != ''">#{u_id,jdbcType=INTEGER},</if>
            <if test="id != null and id != ''">#{id,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <select id="isFriend" resultType="boolean">
    	SELECT COUNT(g.id)
        FROM u_group g
        INNER JOIN g_members m
        ON g.id = m.group_id
        WHERE g.u_id=#{user_id,jdbcType=INTEGER} AND g.type=0 AND m.user_id = #{u_id,jdbcType=INTEGER}
	</select>
    <select id="getGroupMembersById" resultType="int">
    	SELECT user_id FROM g_members WHERE group_id = ${id}
	</select>
    <select id="disAgreeMsgbox" resultType="int">
    	SELECT count(*) FROM u_msgbox WHERE descUid = ${id} and agree = 0
	</select>
    <insert id="addMsgbox" parameterType="map">
        INSERT INTO u_msgbox
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="srcUid != null and srcUid != ''">srcUid,</if>
            <if test="descUid != null and descUid != ''">descUid,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="agree != null and agree != ''">agree,</if>
            <if test="srcGid != null and srcGid != ''">srcGid,</if>
            <if test="descGid != null and descGid != ''">descGid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="srcUid != null and srcUid != ''">#{srcUid,jdbcType=INTEGER},</if>
            <if test="descUid != null and descUid != ''">#{descUid,jdbcType=INTEGER},</if>
            <if test="type != null and type != ''">#{type,jdbcType=INTEGER},</if>
            <if test="content != null and content != ''">#{content,jdbcType=VARCHAR},</if>
            <if test="agree != null and agree != ''">#{agree,jdbcType=INTEGER},</if>
            <if test="srcGid != null and srcGid != ''">#{srcGid,jdbcType=INTEGER},</if>
            <if test="descGid != null and descGid != ''">#{descGid,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <resultMap id="msgbox_map" type="map">
        <result property="createTime" column="createTime" javaType="string" jdbcType="TIMESTAMP"></result>
        <result property="respTime" column="respTime" javaType="string" jdbcType="TIMESTAMP"></result>
    </resultMap>
    <select id="findMsgboxPageList" resultMap="msgbox_map">
    	SELECT (@i:=@i+1) i,t.* FROM (SELECT @i:=0) AS i ,
        (
        (SELECT m.*,u.username,u.avatar FROM u_msgbox m
        INNER JOIN USER u ON u.id = m.srcUid
        WHERE m.descUid = ${id}  )
        UNION
        (SELECT m.*,u.username,u.avatar FROM u_msgbox m
        INNER JOIN USER u ON u.id = m.descUid
        WHERE m.srcUid = ${id} )ORDER BY createTime DESC
        ) AS t

	</select>
    <update id="updateMsgbox" >
        UPDATE u_msgbox
        <set>
        <if test="agree != null and agree != ''">agree= #{agree},</if>
        <if test="descGid != null and descGid != ''">descGid= #{descGid},</if>
        <if test="respTime != null and respTime != ''">respTime= #{respTime},</if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="getMembers" resultType="map">
        SELECT u.id,u.username,u.avatar,u.sign FROM g_members g
        INNER JOIN USER u
        ON g.user_id = u.id
        WHERE g.group_id = ${id}
    </select>
    <insert id="addChat" parameterType="map">
        INSERT INTO u_chat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null and content != ''">content,</if>
            <if test="srcUid != null and srcUid != ''">srcUid,</if>
            <if test="descUid != null and descUid != ''">descUid,</if>
            <if test="descGid != null and descGid != ''">descGid,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createTime != null and createTime != ''">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null and content != ''">#{content,jdbcType=VARCHAR},</if>
            <if test="srcUid != null and srcUid != ''">#{srcUid,jdbcType=INTEGER},</if>
            <if test="descUid != null and descUid != ''">#{descUid,jdbcType=INTEGER},</if>
            <if test="descGid != null and descGid != ''">#{descGid,jdbcType=INTEGER},</if>
            <if test="status != null and status != ''">#{status,jdbcType=INTEGER},</if>
            <if test="createTime != null and createTime != ''">#{createTime,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateChatStatus" >
        UPDATE u_chat
        <set>
            <if test="status != null and status != ''">status= #{status},</if>
        </set>
        WHERE srcUid = #{srcUid} and descUid = #{descUid} and status = 0
    </update>
    <select id="getOfflineChat" resultMap="msgbox_map">
        SELECT u.username,u.avatar,u.id fromid ,u.id,c.content,c.createTime AS 'timestamp', 'friend' AS 'type',false AS 'mine'
        FROM u_chat c
        INNER JOIN USER u
        ON c.srcUid = u.id
        WHERE c.descUid = #{id} AND c.status = 0
    </select>
    <select id="findChatlogPageList" resultMap="msgbox_map">
        SELECT c.*,u.username,u.avatar FROM u_chat c
        INNER JOIN USER u
        ON c.srcUid = u.id
        WHERE
        <if test="descUid != null and descUid != ''">
            (c.srcUid = #{srcUid} AND c.descUid = #{descUid}) OR (c.srcUid = #{descUid} AND c.descUid = #{srcUid})
        </if>
        <if test="descGid != null and descGid != ''">
            descGid = #{descGid}
        </if>
    </select>
    <select id="getChatlogCount" parameterType="map" resultType="int">
        select count(*) from u_chat c
        WHERE
        <if test="descUid != null and descUid != ''">
            (c.srcUid = #{srcUid} AND c.descUid = #{descUid}) OR (c.srcUid = #{descUid} AND c.descUid = #{srcUid})
        </if>
        <if test="descGid != null and descGid != ''">
            descGid = #{descGid}
        </if>
    </select>



    <select id="getObjectById" resultType="com.task.pojo.UserGroup">
    	SELECT * FROM u_m_UserGroup WHERE id=#{id}
	</select>

    <insert id="addObject" parameterType="com.task.pojo.UserGroup" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO u_m_UserGroup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="u_id != null and u_id != ''">u_id,</if>
            <if test="m_id != null and m_id != ''">m_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="u_id != null and u_id != ''">#{u_id,jdbcType=INTEGER},</if>
            <if test="m_id != null and m_id != ''">#{m_id,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <insert id="batchAddObject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Sample(name,age,sex) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.name},#{item.age},#{item.sex})
        </foreach>
    </insert>

    <select id="getObjectList" resultType="com.task.pojo.UserGroup">
        SELECT * FROM Sample
        <where>
            <if test="name != null and name != ''">AND name=#{name,jdbcType=VARCHAR}</if>
            <if test="sex != null and sex != ''">AND sex=#{sex,jdbcType=VARCHAR}</if>
            <if test="age != null and age != ''">AND age=#{age,jdbcType=INTEGER}</if>
        </where>
    </select>

    <select id="findByObjectPageList" resultType="com.task.pojo.UserGroup">
        SELECT m.* FROM u_m_UserGroup s
        INNER JOIN u_dyn_msg m
        WHERE s.m_id = m.id
        AND s.u_id = #{u_id,jdbcType=INTEGER}
    </select>

    <delete id="deleteObjectById" parameterType="com.task.pojo.UserGroup">
      DELETE FROM u_m_UserGroup where u_id=#{u_id} and m_id= #{m_id}
    </delete>

    <update id="updateObject" parameterType="com.task.pojo.UserGroup">
        UPDATE Sample
        <set>
            <if test="name != null and name != ''">NAME=#{name,jdbcType=VARCHAR},</if>
            <if test="sex != null and sex != ''">SEX=#{sex,jdbcType=VARCHAR},</if>
            <if test="age != null and age != ''">AGE=#{age,jdbcType=INTEGER},</if>
        </set>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="batchDeleteObject">
        DELETE FROM sample where id in(
        <foreach collection="list" index="index" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>


</mapper>