<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh">
<head>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <!--<style>
        body {
            padding: 10px;
            font-size: 14px;
            background: #fff;
            width: 95%;
            margin: 0 auto;
            line-height: 20px;
        }
        .layui-upload-img{
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
    </style>-->
</head>
<body>
<div class="layui-container">
    <blockquote class="layui-elem-quote">注意：下述演示中的颜色只是做一个区分作用，并非栅格内置。</blockquote>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>始终等比例水平排列</legend>
    </fieldset>

    <div class="layui-row">
        <div class="layui-col-xs6">
            <div class="grid-demo grid-demo-bg1">6/12</div>
        </div>
        <div class="layui-col-xs6">
            <div class="grid-demo">6/12</div>
        </div>
    </div>
</body>
<script src="/layui/layui.all.js"></script>
<!--<script src="/js/jquery-2.1.1.min.js" type="text/javascript"></script>-->
<script>

</script>
</html>